@font-face {
  font-family: "Roboto Mono";
  src: url(../static/fonts/RobotoMono-VariableFont_wght.ttf);
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  background-color: #fff;
  font-family: sans-serif;
  overflow: hidden;
}

#container {
  display: grid;
  grid-template-rows: 45px calc(100% - 65px) 20px;
  height: 100%;
}

#header {
  grid-row: 1;
  background-color: #5d5d73;
}

#split {
  grid-row: 2;
  display: flex;
  flex-direction: row;
}

#runArea {
  width: 60%;
  background: #333333;
}

#runAreaCanvas {
  width: 100%;
  height: 100%;
}

#blocklyArea {
  width: 40%;
  background: #ffffff;
  text-align: center;
}

#columnResizer {
  display: block;
  top: 0;
  right: 0;
  margin: 0;
  width: 6px;
  height: 100%;
  padding: 0;
  cursor: col-resize;
  border: 1px solid transparent;
}

#footer {
  grid-row: 3;
  background-color: #5d5d73;
  color: #fff;
  font-family: 'Roboto Mono';
  font-size: small;
}

.blocklyTreeLabel {
    font-family: "Roboto Mono";
  font-size: 12px !important;
}

.blocklyText {
  font-family: "Roboto Mono";
  font-size: 10px;
}

#logo {
  height: 40px;
  padding-top: 2px;
}

#buttonrow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 10px;
  width: 500px;
}

.button {
  background-color: transparent;
  border: none;
  background-size: 100%;
  height: 30px;
  width: 30px;
  margin-top: 7;
  margin-bottom: 7;
  cursor: pointer;
}

.button:hover {
  background-color: #777;
}

#reset {
  background-image: url(../static/icons/restart.svg);
  background-repeat: no-repeat;
}

.physics-on {
  background-image: url(../static/icons/toggle_on.svg);
  background-repeat: no-repeat;
}

.physics-off {
  background-image: url(../static/icons/toggle_off.svg);
  background-repeat: no-repeat;
}

#fullscreen {
  background-image: url(../static/icons/fullscreen.svg);
  background-repeat: no-repeat;
}

#xr {
  background-image: url(../static/icons/xr.svg);
  background-repeat: no-repeat;
}

#debug {
  background-image: url(../static/icons/debug.svg);
  background-repeat: no-repeat;
}

#clear {
  background-image: url(../static/icons/delete.svg);
  background-repeat: no-repeat;
}

#export {
  background-image: url(../static/icons/download.svg);
  background-repeat: no-repeat;
}

#examples {
  background-image: url(../static/icons/media.svg);
  background-repeat: no-repeat;
}

#drag {
  z-index: 999;
  position: relative;
  background-color: white;
  width: 22px;
  top: 45%;
  left: -9px;
  pointer-events: none;
  cursor: col-resize;
  clip-path: inset(0% 19%);
  user-select: none;
}

#image-upload>input {
  display: none;
}

#title3d {
  background-color: transparent;
  border: none;
  background-size: 100%;
  height: 40px;
  width: 40px;
  margin-top: 2;
  margin-bottom: 2;
}

#examples-dropdown {
  position:absolute;
  display: none;
  flex-direction: column;
  top: 45px;
  left: 345px;
  width: 200px;
  background-color: #5d5d73;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 999;
}

#examples-dropdown button {
  font-weight: bold;
  font-family: "Roboto Mono";
  text-align: left;
}